:root {
	--background: #C5C1C0;
	--black: #0A1612;
	--primary: #1A2930;
	--highlight: #F7CE3E;

}

::selection {
  color: var(--highlight);
}

a {
	color: var(--highlight);
}

.display-3 {
	color: var(--primary);
}

.nounderline {
  text-decoration: none !important
}

.topBar {
	border-bottom: 2px solid var(--highlight);
}

.bottomBar {
	border-top: 2px solid var(--highlight);
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
	font-family: Montserrat;
	color: var(--black);
}

.grey {
	background-color: var(--background);
}

.middle {
	margin-left: 25px;
	margin-right: 25px;
}

.btn-link{
	color: var(--primary);
}

.enoughSpace {
	margin-bottom: 50px;
}

.whoClick {
	color: var(--primary);
}

.bio {
	margin-bottom: 20px;
}
